# Project exclude paths
/target/
/.idea/
/cache/
/logs/
/lib/
/libs/
/plugins/
/docs/
/devices/
MiraiQQ.iml
captcha.jpg
latest.log
FocessQQ-*.jar
focess-qq-*.jar
config.yml
temp.json
ts.obj
NightClass.obj
*.gz
*.log
temp.yml
permissions.yml